.nameInput{
    margin: 5px;
    height: 60px;
    border-bottom: 2px rgba(32,99,92,0.3) solid;
}
.attrHead{
    background-color: rgba(32,99,92,0.3);
    /* margin: 5px; */
    color: #fff;
    height: 60px;
    font-size:25px;
    line-height:30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.35;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum";
    font-family: SourceHanSerifCN-Heavy, SourceHanSerifCN;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
.headName{
    float: left;
    /* margin: 20px; */
    padding: 10px;
    width: 100%;
    font-size:15px;
    text-align: center;
    line-height:90px;
    color: #fff;
    font-size:25px;
    line-height:30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.35;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum";
    font-family: SourceHanSerifCN-Heavy, SourceHanSerifCN;
    border-radius: 15px;
}
.headValue{
    float: left;
    width: calc(50% - 40px);
    margin: 20px;
    font-size:15px;
    line-height:30px;
    font-family:"Microsoft YaHei",Tahoma,Verdana,SimSun;
    font-style:normal;
    font-variant:normal;
    font-size-adjust:none;
    font-stretch:normal;
    font-weight:normal;
    border-radius: 15px;
}
.attrInput{
    margin: 5px;
    height: 60px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.attrInputDiv{
    margin: 5px;
    height: 150px;
    overflow: scroll;
    scrollbar-width: none;
}
.attrKey{
    margin: 6px;
    height: calc(50% - 12px);
    width: 30%;
    float: left;
    
text-align: center;
    color: rgb(32,99,92);
    font-weight: 600;
    font-size: 18px;
    line-height: 1.35;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum";
    font-family: SourceHanSerifCN-Heavy, SourceHanSerifCN;

    border-radius: 15px;
    /* cursor: none; */
}
.addAttr{
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addAttrBut{
    height: 100%;
}
.attrValue{
    margin: 6px;
    height: calc(50% - 12px);
    width: 50%;
    float: left;
}

.valueInput{
    width: 90%;
    border-radius: 10px;
    border: 1.5px #ccc solid;
    margin: 1px;
    /* margin-left: 15px; */
    color: rgb(32,99,92);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.35;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum";
    font-family: SourceHanSerifCN-Heavy, SourceHanSerifCN;
}
.keyInput{
    width: 90%;
    border-radius: 10px;
    border: 1.5px #ccc solid;
    margin: 1px;
    /* margin-left: 15px; */
    color: rgb(32,99,92);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.35;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: "tnum";
    font-family: SourceHanSerifCN-Heavy, SourceHanSerifCN;
}